body {
    background-color: #CEBDA5;
}

#tablero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
}

.rojo {
    background-color: red;
    border: 5px outset #a41c1c;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
}

.azul {
    background-color: blue;
    border: 5px outset #2a1ca4;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
}

@media (max-width:799px) {

    .azul,
    .rojo {
        width: 20px;
        height: 20px;
    }
}

.next-ns {
    display: none;
}

.end-img {
    display: flex;
    justify-content: center;
}

.end-img img {
    width: 300px;
}